/*links anuncios topics staff localizacion periodo intro */

#tablon { 
	padding: var(--spacing);
	gap: var(--spacing);
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(4, max-content);
	grid-template-areas: 
	"intro intro intro links links links"
	"intro intro intro periodo periodo periodo"
		"intro intro intro localizacion localizacion localizacion"
		"staff staff anuncios anuncios topics topics";
	

	.linksrapidos { 
		grid-area: links;

		a { 

		}
	}

	.anuncios { 
		grid-area: anuncios;
		display: flex;
		flex-direction:column;
		gap: var(--spacing-xs);

		a { 
			display: flex;
			align-items: center;
			gap: var(--spacing-s);
			border: 1px solid var(--border);
    		padding: var(--spacing-xs);

			span { 
				font-weight: bold;
			}

			&:before {
				content: "";
				height: 1rem;
				width: 1rem;
				background: var(--accent);
				mask-image: url("https://unpkg.com/lucide-static/icons/megaphone.svg");
				mask-size: contain;
				mask-repeat: no-repeat;
				mask-position: center;
			}
		}
	}

	.lasttopics { 
		grid-area: topics;

		.stack { 
			gap: 0;
			
			.title { 
				font: bold 1rem var(--f-title);
			}

			.username { 
				font: bold 1rem var(--f-title);
			}

			.date { 
				font: var(--f-s) var(--f-text); 
				text-transform: uppercase;
			}
		}
	}

	.staff { 
		grid-area: staff;
		display: grid;
		grid-template-columns: repeat(2,1fr);
		gap: var(--spacing);

		&:before {
			content: "STAFF";
			grid-column: 1 / -1;
		}

		a { 
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			height: 80px;
			width: 80px;
			transition: all .5s ease-in-out;

			span {
				transition: all .5s ease-in-out;
				position: relative;
				color: var(--text-contrast);
				opacity: 0;
				filter: blur(5px);
			}

			&:hover {
				transition: all .5s ease-in-out;
				span {
					transition: all .5s ease-in-out;
					opacity: 1;
					filter: blur(0);
				}
			}

			&:before {
				content: "";
				inset: 0;
				position: absolute;
				background: var(--staff-img);
				background-size: cover;
				background-position: center;
			}
		}
	}

	.localizacion { 
		grid-area: localizacion;

	}

	.periodoroleable { 
		grid-area: periodo;

	}

	.introduccion { 
		grid-area: intro;

	}
}
