#tablon { 

	.linksrapidos { 

		a { 

		}
	}

	.anuncios { 
		display: flex;
		flex-direction:column;
		gap: var(--spacing-xs);

		a { 
			display: flex;
			align-items: center;
			gap: var(--spacing-s);
			border: 1px solid var(--border);
    		padding: var(--spacing-xs);

			span { 
				font-weight: bold;
			}

			&:before {
				content: "";
				height: 1rem;
				width: 1rem;
				background: var(--accent);
				mask-image: url("https://unpkg.com/lucide-static/icons/megaphone.svg");
				mask-size: contain;
				mask-repeat: no-repeat;
				mask-position: center;
			}
		}
	}

	.lasttopics { 

		.stack { 
			gap: 0;
			
			.title { 
				font: bold 1rem var(--f-title);
			}

			.username { 
				font: bold 1rem var(--f-title);
			}

			.date { 
				font: var(--f-s) var(--f-text); 
				text-transform: uppercase;
			}
		}
	}

	.staff { 

		a { 
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			height: 100px;
			width: 100px;

			&:after {
				content: "";
				inset: 0;
				position: absolute;
				background: var(--staff-img);
				background-size: cover;
				background-position: center;
			}
		}
	}

	.localizacion { 

	}

	.periodoroleable { 

	}

	.introduccion { 

	}
}
