#tablon { 

	.linksrapidos { 

		a { 

		}
	}

	.anuncios { 

		a { 

			span { 

			}
		}
	}

	.lasttopics { 

		.stack { 
			gap: 0;
			
			.title { 
				font: bold 1rem var(--f-title);
			}

			.username { 
				font: bold 1rem var(--f-title);
			}

			.date { 
				font: var(--f-s) var(--f-text); 
				text-transform: uppercase;
			}
		}
	}

	.staff { 

		a { 

		}
	}

	.localizacion { 

	}

	.periodoroleable { 

	}

	.introduccion { 

	}
}
